@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap');

@font-face {
  font-family: 'palatino';
  src: url('./../fonts/palatino.eot');
  src: url('./../fonts/palatino.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/palatino.woff2') format('woff2'),
  url('./../fonts/palatino.woff') format('woff'),
  url('./../fonts/palatino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}