.footer {
  padding: rem(75px) 0;
  color: $white;

  a {
    margin-bottom: 8px;
    display: inline-block;
  }

  @media (#{$max_phones--big}) {
    padding: 30px 0 60px;
    text-align: center;
  }
}

.copy {
  margin-bottom: rem(20px);
}