

.btn-link {
  background-color: transparent;
  text-decoration: none !important;
  text-transform: inherit;
  font-weight: inherit;
  padding: 0;
  letter-spacing: inherit;
  font-size: rem(17px);
  color: $primary;

  .icon {
    font-size: 16px;
  }

  .btn-text + .icon {
    margin-left: 5px;
  }

  &:hover {
    color: lighten($primary, 3%);
  }
}

.btn-default,
.btn-icon {
  color: $text;
}

.btn {
  box-shadow: none !important;
  font-family: $font-family-base;
  height: rem(60px);
  padding: rem(12px 24px);
  font-size: rem(17px);
  font-weight: 600;
  line-height: 1.9;
  border-radius: 12px;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: normal;
    height: 40px;
    padding: 10px 16px;
  }
}

.btn-primary {
  background-color: $primary;
  color: #fff !important;

  &:hover {
    background-color: #0467D8;
  }

  &:active {
    background-color: darken($primary, 3%);
  }

  &[disabled] {
    background-color: #F3F3F3 !important;
    color: #979797 !important;
  }
}

.form-control {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: $white;
  font-family: $font-family-base;
  height: rem(60px);
  padding: rem(10px 20px);
  font-size: rem(18px);
  line-height: rem(24px);
  border: 2px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  color: #323232;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $primary;
  }

  @include placeholder {
    color: #7D8499;
  }

  @media (#{$max_phones--big}) {
    font-size: 13px;
    line-height: 1.6;
    padding: 8px 16px;
    height: 40px;
  }
}

.form-control--error {
  @include placeholder {
    color: #EB3B47
  }
}

.form-group {
  @media (#{$max_phones--big}) {
    margin-bottom: 8px;
  }
}

.form_register {
  width: 360px;
  max-width: 100%;
  margin: 0 auto rem(40px);

  .row {
    margin: 0;

    > div {
      margin: 0;
      padding: 0;
    }
  }

  .form-control {
    border: 0;
    font-size: inherit;
    font-weight: $font-weight-medium;
    line-height: normal;
    padding: rem(12px 20px 14px);
    height: rem(48px);
    color: $text;
    letter-spacing: 0;
    border-radius: 8px;
    background-color: rgba(#1F3D59, .7);

    @include placeholder() {
      color: rgba($text, .5);
    }
  }

  textarea.form-control {
    height: 120px;
    resize: none;
  }

  .btn {
    padding: rem(12px 20px 14px);
    height: rem(48px);
    border: 0;
    line-height: normal;
    font-size: inherit;
    font-weight: $font-weight-semi;

    &[disabled] {
      color: rgba($text, .6) !important;
    }
  }

  .form-group {

  }

  @media (#{$max_phones--big}) {
    margin-bottom: 14px;

    .form-control,
    .btn {
      height: 40px;
      padding: 10px 16px;
    }
  }
}

.control-label {
  font-size: rem(18px);
  line-height: rem(24px);
  color: #979797;

  @media (#{$max_phones--big}) {
    font-size: 13px;
  }
}

.btn-circle {
  border-radius: 100px;
  padding: rem(16px);
  line-height: normal;
  width: rem(54px);
  height: rem(54px);
  display: none;

  @media (#{$max_phones--big}) {
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);
  }
}

input.mce_inline_error {
  box-shadow: inset 0 0 0 1px $red !important;
}

div.mce_inline_error,
#mce-error-response {
  background: transparent !important;
  color: $red !important;
  font-size: rem(14px);
  font-weight: 400 !important;
}

div.response {
  margin-bottom: rem(20px);
}

#mce-success-response {
  font-size: rem(16px);
  font-weight: 400 !important;
  text-align: center;
  color: #fff;
}