.header {
  padding: rem(38px) 0;
  overflow: hidden;

  .btn {
    padding-left: rem(20px);
    padding-right: rem(20px);
    margin-right: rem(-20px);
  }

  @media (#{$max_phones--big}) {
    padding: 20px 0;

    .logo img {
      width: 180px;
    }

    .btn {
      height: auto;
    }
  }

  @media (#{$max_phones}) {
    .logo {
      text-align: center;
      margin-bottom: 15px;
      display: block;

      img {
        width: 120px;
      }
    }

    .col-auto {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.header_nav {
  margin-bottom: 0;
  margin-right: rem(-18px);
  padding: rem(4px) 0;

  &__item {
    display: inline-block;
    vertical-align: top;

    a {
      padding: rem(4px 18px);
      color: rgba(#fff, .8);

      &:hover {
        color: #fff;
      }
    }
  }

  @media (#{$max_phones--big}) {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin-right: -10px;

    &__item {
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}