html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: rem(18px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  font-family: $font-family-base;
  color: $text;
  background-color: $background;

  @include fontantialias(true);

  @media (#{$max_phones--big}) {
    font-size: 14px;
    line-height: 20px;

    &.menu-opened {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-base;
  color: $white;
}

h1, .h1 {
  font-size: rem(56px);
  line-height: rem(64px);
  margin-bottom: rem(36px);
  letter-spacing: -0.5px;
  font-weight: $font-weight-semi;

  &:last-child {
    margin-bottom: 0;
  }

  @media (#{$max_phones--big}) {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
}

h2, .h2 {
  font-size: rem(56px);
  line-height: rem(64px);
  letter-spacing: -0.5px;
  margin-bottom: rem(36px);
  font-weight: $font-weight-semi;

  @media (#{$max_phones--big}) {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 15px;
  }
}

h3, .h3 {
  font-size: rem(32px);
  line-height: rem(30px);
  font-weight: $font-weight-semi;
  margin-bottom: rem(32px);

  @media (#{$max_phones--big}) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 14px;
    letter-spacing: 0;
  }
}

h5, .h5 {
  margin-bottom: rem(30px);
  font-size: rem(22px);
  letter-spacing: 0;
  line-height: rem(33px);
  font-weight: $font-weight-medium;

  @media (#{$max_phones--big}) {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

p, .p {
  margin-bottom: rem(25px);

  a {
    font-weight: 500;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: rgba($text, .7);

  &:hover {
    color: $text;
    text-decoration: none;
  }
}

.container {
  max-width: 1140px + 30px;
  position: relative;

  @media (#{$max_phones}) {
    max-width: 340px;
  }
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-primary {
  color: #c601a4 !important;
}

.text-grey {
  color: #7D8499 !important;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.hint {
  font-size: rem(17px);
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.row-small {
  margin-left: -10px;
  margin-right: -10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.lead {
  font-size: rem(21px);
  line-height: rem(32px);
  font-weight: 400;
  color: inherit;
  letter-spacing: 0;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(55px);

  @media (#{$max_phones--big}) {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

address {
  @extend p;
  margin-bottom: rem(24px) !important;
}

.scrollmagic-pin-spacer {
  display: block !important;

  @media (#{$max_phones--big}) {
    height: auto !important;
    min-height: 0 !important;
    display: none!important;
  }
}

