.section {
  padding: rem(65px 0);
  overflow: hidden;

  @media (#{$max_phones--big}) {
    padding: 35px 0;
  }
}

.section_lead {
  text-align: center;
  padding: rem(20px) 0 rem(140px);

  @media (#{$min_tablets}) {
    height: calc(100vh - 130px);

    .container, .row {
      height: 100%;
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 52px;
    padding-bottom: 30px;
  }
}

.lead_links {
  a {
    margin-bottom: rem(15px);
    padding: rem(4px 14px);
    display: inline-block;
    line-height: normal;
  }

  .icon {
    margin-right: rem(2px);
    font-size: rem(36px);
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 0;
  }

  span {
    vertical-align: middle;
    display: inline-block;
  }

  @media (#{$max_phones--big}) {
    a {
      margin-bottom: 0;
      padding: 8px 0;
    }

    span {
      display: none;
    }

    .col-auto {
      padding: 0 10px;
    }
  }
}

.section_list {
  padding: 0;
}

.card {
  background-color: rgb(18, 42, 57);
  border-radius: 16px;
  padding: rem(84px 70px 84px 98px);
  margin-bottom: rem(45px);
  position: relative;

  @media (#{$max_tablets}) {
    padding: 60px;
  }

  @media (#{$max_phones--big}) {
    padding: 26px 16px 20px;
  }
}

.list-styled {
  display: block;
  margin-bottom: rem(64px);
  padding: 0;
  font-size: rem(32px);
  line-height: rem(30px);
  font-weight: $font-weight-semi;
  list-style: none;
  letter-spacing: 0;
  color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    position: relative;
    padding-left: rem(45px);
    margin-bottom: rem(38px);
    text-align: left;
    display: block;

    &:before {
      position: absolute;
      left: 0;
      content: "\e901";
      font-family: 'icons' !important;
      color: $primary;
      font-size: rem(30px);
      width: rem(30px);
      height: rem(30px);
    }
  }

  &--error {
    li {
      &:before {
        content: '';
        background: url(/images/icons/error_icn.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &--success {
    li {
      &:before {
        content: '';
        background: url(/images/icons/success_icn.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  @media (#{$max_tablets}) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 60px;

    li {
      margin-bottom: 20px;
    }
  }

  @media (#{$max_phones--big}) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;

    li {
      padding-left: 40px;
      margin-bottom: 12px;

      &:before {
        width: 24px;
      }
    }
  }
}

.section_features {
  position: relative;

  @media (#{$max_phones--big}) {
    padding-top: 0;
  }

  @media (#{$min_phones--big}) {
    &--image-0 {
      .feature_block__image--0 {
        opacity: 1;
      }
      .feature_block__image--5 {
        opacity: 0;
      }
    }
    &--image-1 {
      .feature_block__image--0 {
        opacity: 0;
      }
      .feature_block__image--5 {
        opacity: 0;
      }
      .feature_block__image--1 {
        opacity: 1;
      }
    }
    &--image-2 {
      .feature_block__image--0 {
        opacity: 0;
      }
      .feature_block__image--5 {
        opacity: 0;
      }
      .feature_block__image--1 {
        opacity: 0;
      }
      .feature_block__image--2 {
        opacity: 1;
      }
    }
    &--image-3 {
      .feature_block__image--0 {
        opacity: 0;
      }
      .feature_block__image--5 {
        opacity: 0;
      }
      .feature_block__image--1 {
        opacity: 0;
      }
      .feature_block__image--2 {
        opacity: 0;
      }
      .feature_block__image--3 {
        opacity: 1;
      }
    }
    &--image-4 {
      .feature_block__image--0 {
        opacity: 0;
      }
      .feature_block__image--5 {
        opacity: 0;
      }
      .feature_block__image--1 {
        opacity: 0;
      }
      .feature_block__image--2 {
        opacity: 0;
      }
      .feature_block__image--3 {
        opacity: 0;
      }
      .feature_block__image--4 {
        opacity: 1;
      }
    }
    &--image-5 {
      .feature_block__image {
        opacity: 0;
      }
      .feature_block__image--5 {
        opacity: 1;
      }
    }
  }
}

.feature_block {
  position: relative;
  margin-bottom: 20px;
  min-height: 493px;

  &__image {
    img {
      max-width: 100%;
    }
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  @media (#{$max_phones--big}) {
    min-height: 0;
    margin-bottom: 40px;

    &__image {
      position: static !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-bottom: 40px !important;

      img {
        width: 280px;
      }
    }
  }

  @media (#{$min_phones--big}) {
    padding: rem(60px) 0;
    margin-bottom: 0;

    &--0 { z-index: 1 }
    &--1 { z-index: 2 }
    &--2 { z-index: 3 }
    &--3 { z-index: 4 }
    &--4 { z-index: 5 }
    &--5 { z-index: 6 }

    &__image {
      opacity: 0;
      margin-bottom: 0;

      &--5, &--0 {
        opacity: 1;
      }
    }
  }
}

.section_header {
  margin-bottom: rem(48px);
  text-align: center;

  .lead {
    margin-bottom: 0;
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 45px;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.read_more_link {
  padding-left: 0;
  font-weight: $font-weight-semi;
  margin: rem(10px) 0;

  @media (#{$max_phones--big}) {
    font-size: 14px;
  }
}

.section_team {
  padding-top: rem(75px);
  padding-bottom: rem(75px);
  overflow: hidden;

  @media (#{$max_phones--big}) {
    padding-top: 30px;
    padding-bottom: 0;
  }

  @media (#{$min_phones--big}) {
    .row {
      margin-left: -50px;
      margin-right: -50px;

      > div {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}

.team_member_text {
  text-align: justify;
  text-justify: inter-word;
}

.team_member {
  padding: rem(75px) 0;

  &__image {
    border-radius: 8px;
    overflow: hidden;
    height: 375px;
    background-size: cover;
    background-position: center;
    margin-bottom: rem(32px);
  }

  &__header {
    margin-bottom: rem(28px);
    font-size: rem(22px);
    line-height: rem(32px);
    letter-spacing: 0;
    color: $white;
    max-width: 280px;
    min-height: rem(96px);

    h4 {
      margin-bottom: 0;
      font-size: inherit;
      line-height: inherit;
      font-weight: $font-weight-semi;
    }
  }

  @media (#{$max_phones--big}) {
    padding: 0;
    margin-bottom: 30px;

    &__image {
      height: 260px;
      border-radius: 6px;
      margin-bottom: 25px;
      background-position: center -10px;
      background-repeat: no-repeat;
    }

    &__header {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 15px;
      min-height: 72px;
    }
  }

  @media (#{$max_phones}) {
    &__header {
      min-height: 0;
    }
  }
}

.section_contact {
  @media (#{$max_phones--big}) {
    padding-bottom: 10px;

    .section_header {
      margin-bottom: 25px;
    }
  }
}

.section_legal {
  p > a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h3, h2 {
    margin-top: rem(60px);
  }

  @media (#{$max_phones--big}) {
    h3, h2 {
      margin-top: 30px;
    }
  }
}

.section_message {
  text-align: center;
  height: 100vh;
  overflow: visible;
  min-height: 530px;

  .container,
  .row {
    height: 100%;
  }

  .btn {
    margin-bottom: 7vh;
  }

  .logo {
    display: inline-block;
    margin-bottom: rem(30px);
  }

  &__icon {
    margin-bottom: rem(58px);
  }

  &__accent {
    font-weight: $font-weight-bold;
  }

  &__title {
    padding-bottom: rem(70px);
    padding-bottom: 7vh;
    letter-spacing: -0.5px;
  }

  &__text {
    font-size: rem(24px);
    line-height: 1.6;
    margin-bottom: rem(40px);
  }

  &__hint {
    color: #979797;
    margin-bottom: rem(20px);
    font-size: rem(17px);
    line-height: rem(32px);
    margin-top: rem(70px);
    margin-top: 7vh;

    a {
      font-weight: 500;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (#{$max_phones--big}) {
    &__icon {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 32px;
    }

    &__accent {
      font-size: 40px;
      line-height: 50px;
    }

    &__text {
      font-size: 14px;
    }

    &__hint {
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 12px;
      margin-top: 48px;
    }

    .logo {
      img {
        width: 70px;
      }
    }
  }
}

.social {
  cursor: default;

  &__link {
    cursor: pointer;
    margin-right: rem(5px);

    .icon {
      font-size: rem(32px);
    }
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 20px;
    margin-top: 24px;
  }
}

.feature_images {
  display: none;

  &__image {
    max-width: 100%;
  }

  @media (#{$min_phones--big}) {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 425px;
    height: 425px;

    &--0 {
      .feature_images__image--0 {
        opacity: 1;
      }
    }

    &--1 {
      .feature_images__image--0,
      .feature_images__image--1 {
        opacity: 1;
      }
    }

    &--2 {
      .feature_images__image--0,
      .feature_images__image--1,
      .feature_images__image--2 {
        opacity: 1;
      }
    }

    &--3 {
      .feature_images__image--0,
      .feature_images__image--1,
      .feature_images__image--2,
      .feature_images__image--3 {
        opacity: 1;
      }
    }

    &--4 {
      .feature_images__image--0,
      .feature_images__image--1,
      .feature_images__image--2,
      .feature_images__image--3,
      .feature_images__image--4 {
        opacity: 1;
      }
    }

    &--5 {
      .feature_images__image--0,
      .feature_images__image--1,
      .feature_images__image--2,
      .feature_images__image--3,
      .feature_images__image--4,
      .feature_images__image--5 {
        opacity: 1;
      }
    }

    &.last-item {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;

      .feature_images__image--4 {
        opacity: 1;
      }

      .feature_images__image--5 {
        opacity: 1;
      }
    }

    &__image {
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0;
      transition: opacity .4s ease;

      &--0 {
        opacity: 1;
      }
    }
  }

  @media (#{$max_tablets}) {
    width: 290px;
    height: 290px;
  }
}

.bg_canvas {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  opacity: .8;
  pointer-events: none;

  @media (#{$max_phones--big}) {
    display: none;
  }
}

.teaser {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  width: 360px;
  height: 340px;
  color: #fff;
  font-size: rem(20px);
  line-height: rem(28px);
  padding-right: 10px;
  padding-top: 8px;
  display: none;
  background: linear-gradient(230deg, #0183c1 0%, #0183c1 34%, transparent 27%);

  &.purple {
    background: linear-gradient(230deg, #cb2daf 0%, #cb2daf 34%, transparent 27%);
    font-size: rem(18px);
    line-height: rem(26px);
  }

  a {
    color: #fff;
    display: block;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  @media (max-width: 1500px) {
    width: 220px;
    height: 220px;
    font-size: rem(14px);
    line-height: rem(18px);

    &.purple {
      font-size: rem(11px);
      line-height: rem(15px);
    }
  }

  @media (max-width: 1280px) {
    top: 0;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    font-size: rem(18px);
    line-height: rem(28px);
    overflow: hidden;
    background: linear-gradient(230deg, #0183c1 0%, #0183c1 34%, transparent 27%);

    br {
      display: none;
    }

    &.purple {
      background: linear-gradient(230deg, #cb2daf 0%, #cb2daf 50%, transparent 27%);
      font-size: rem(18px);
      line-height: rem(26px);
    }
  }

  @media (max-width: 991px) {
    background: #0183c1;

    &.purple {
      background: #cb2daf;
    }

    ~.header {
      margin-top: 20px;
    }
  }

  @media (max-width: 767px) {
    ~.header {
      margin-top: 40px;
    }
  }

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 30px;

    ~.header {
      margin-top: 40px;
    }

    &.purple {
      font-size: 12px;
      line-height: 30px;
    }
  }
}


.btn_scroll_top {
  position: fixed;
  bottom: rem(20px);
  right: rem(20px);
  z-index: 999;
}