<section class="section section_features" id="ecosystem">
  <div class="container">
    <div class="feature_images">
      <img src="images/illustrations/illustrations_01.png" class="feature_images__image feature_images__image--0" alt="Infrastructure" width="425px">
      <img src="images/illustrations/illustrations_02.png" class="feature_images__image feature_images__image--1" alt="Infrastructure" width="425px">
      <img src="images/illustrations/illustrations_03.png" class="feature_images__image feature_images__image--2" alt="Infrastructure" width="425px">
      <img src="images/illustrations/illustrations_04.png" class="feature_images__image feature_images__image--3" alt="Infrastructure" width="425px">
      <img src="images/illustrations/illustrations_05.png" class="feature_images__image feature_images__image--4" alt="Infrastructure" width="425px">
      <img src="images/illustrations/illustrations_06.png" class="feature_images__image feature_images__image--5" alt="Infrastructure" width="425px">
    </div>
    <div class="feature_block feature_block--0">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_01.png" alt="Infrastructure" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Infrastructure</h3>
          <div class="feature_block__text">
            <p>
              The blockchain is&nbsp;a&nbsp;global and decentralized ledger. By&nbsp;design, it&nbsp;is&nbsp;a&nbsp;transparent, fail-proof, and tamper-proof self-governed computer network.
            </p>
            <p>
              The blockchain is&nbsp;a&nbsp;also a&nbsp;platform for d@ssets (digital assets). As it is not restricted by national borders it is accessible to anyone with a device connected to the Internet. Experts expect the blockchain to not only profoundly disrupt finance, but also to democratize it.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_block feature_block--1">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_02.png" alt="Tokenization" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Tokenization</h3>
          <div class="feature_block__text">
            <p>
              Real-world assets are transformed into their digital form as&nbsp;tokens on&nbsp;the blockchain. In&nbsp;other words, every entity possessing a&nbsp;value can be&nbsp;represented by&nbsp;its token. As&nbsp;a&nbsp;consequence, a&nbsp;digital universe of&nbsp;value emerges.
            </p>
            <p>
              Tokenization does, however, not stop here. Also intangible assets find their digital blockchain representations.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_block feature_block--2">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_03.png" alt="Custody" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Custody</h3>
          <div class="feature_block__text">
            <p>
              A&nbsp;custodian is&nbsp;an&nbsp;organisation responsible for safeguarding people&rsquo;s financial assets. In&nbsp;the blockchain world, specialized custodians keep your d@ssets safe and secure.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_block feature_block--3">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_04.png" alt="Banking" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Banking</h3>
          <div class="feature_block__text">
            <p>
              With the emergence of&nbsp;the blockchain, new digital and tech-savvy banks are appearing. These banking partners on-board end clients and fulfill all the required regulations.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_block feature_block--4">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_05.png" alt="Marketplace" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Marketplace</h3>
          <div class="feature_block__text">
            <p>
              In&nbsp;order to&nbsp;facilitate the exchange of&nbsp;d@ssets, professional trading venues provide access to&nbsp;digital marketplaces. Now buying and selling d@ssets can happen fast & efficient, with a click of a button.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="feature_block feature_block--5">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6">
          <div class="feature_block__image">
            <img src="images/illustrations/illustrations_06.png" alt="Liquidity" width="425px">
          </div>
        </div>
        <div class="col-md-7 col-lg-6">
          <h3 class="feature_block__title">Liquidity</h3>
          <div class="feature_block__text">
            <p>
              The last missing piece within this digital ecosystem is&nbsp;liquidity. In&nbsp;liquid markets, assets can be&nbsp;easily and instantaneously exchanged. However, many d@ssets are still locked in&nbsp;illiquid markets. flovtec enables the exchange of&nbsp;d@ssets at&nbsp;low costs and in&nbsp;a&nbsp;secure way, opening the door to&nbsp;a&nbsp;truly digital future of&nbsp;finance, enabled by&nbsp;the blockchain.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>