<section class="section section_list" id="mission">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <h5 class="text-red">Problem statement</h5>
          <ul class="list-styled list-styled--error">
            <li>Blockchain is a global digital asset platform</li>
            <li>Assets are digitized and listed on blockchain</li>
            <li>Digital assets need liquidity</li>
          </ul>
          <h5 class="text-green">Mission statement</h5>
          <ul class="list-styled list-styled--success">
            <li>We provide liquidity</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>