<section class="section section_team" id="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="section_header text-center">
          <h2>Team</h2>
          <p class="lead">We are a&nbsp;team of&nbsp;technologists with deep financial expertise.</p>
        </div>

        <div class="team_list">
          <div class="row">
            <div class="col-sm-6">
              <div class="team_member">
                <div class="team_member__image" style="background-image: url(images/team/golub.jpg)"></div>
                <div class="team_member__header">
                  <h4 class="team_member__title">Anton Golub</h4>
                  <div class="team_member__subtitle">Founding Partner and Chief Executive Officer</div>
                </div>
                <div class="team_member_text _text_truncate">
                  Anton is&nbsp;a&nbsp;Founding Partner, CEO, Head of&nbsp;the Client Relationship Management and Deputy Head of&nbsp;Investment Management at&nbsp;flovtec. He&nbsp;is&nbsp;Co-Founder of&nbsp;Trust Square. He&nbsp;was Co-Founder and served as&nbsp;Chief Science Officer of&nbsp;Lykke Corporation from 2016 to&nbsp;2018. Previously, he&nbsp;held positions at&nbsp;Olsen Ltd as&nbsp;Quantitative Researcher (2012&ndash;2016), at&nbsp;UK&nbsp;Treasury as&nbsp;Project Leader focusing on&nbsp;the Impact of&nbsp;Internalisation on&nbsp;the Quality of&nbsp;Displayed Liquidity as&nbsp;a&nbsp;part of&nbsp;the Foresight Project&nbsp;&mdash; the Future of&nbsp;Computer Trading in&nbsp;Financial Markets project commissioned by&nbsp;UK&nbsp;Treasury (2011) and at&nbsp;Manchester Business School (2010&ndash;2012) as&nbsp;Researcher as&nbsp;well as&nbsp;Visiting Researcher. Anton attended a&nbsp;bootcamp in&nbsp;Advanced Risk and Portfolio Management at&nbsp;Baruch College in&nbsp;Cuny and holds a&nbsp;Master in&nbsp;Financial and Business Mathematics from the University of&nbsp;Zagreb.
                </div>
                <a href="#" class="read_more_link btn btn-link">Read more</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team_member">
                <div class="team_member__image" style="background-image: url(images/team/burgener.jpg)"></div>
                <div class="team_member__header">
                  <h4 class="team_member__title">Emanuel Burgener</h4>
                  <div class="team_member__subtitle">Founding Partner and Chief Investment Officer</div>
                </div>
                <div class="team_member_text _text_truncate">
                  Emanuel is&nbsp;a&nbsp;Founding Partner and CIO of&nbsp;flovtec. Previously, he&nbsp;was a&nbsp;Member of&nbsp;the Executive Committee of&nbsp;ecamos and was responsible for their Quantitative Research and Development (2014&ndash;2018). Further, he&nbsp;was a&nbsp;Founding Partner, Member of&nbsp;the Board and served as&nbsp;Head of&nbsp;Quantitative Research &amp;&nbsp;Development of&nbsp;Linard Capital (2011&ndash;2014), a&nbsp;Portfolio Advisor and Member of&nbsp;the Investment Committee at&nbsp;SIGLO Capital Advisors (2009&ndash;2011) and a&nbsp;Financial Analyst at&nbsp;Banque Priv&eacute;e Edmond de&nbsp;Rothschild (2006&ndash;2008). Emanuel is&nbsp;a&nbsp;CAIA charterholder, and holds a&nbsp;Master in&nbsp;Mathematics from the University of&nbsp;Lausanne and a&nbsp;Diploma of&nbsp;Advanced Studies in&nbsp;Applied Statistics from the Swiss Federal Institute of&nbsp;Technology in&nbsp;Zurich.
                </div>
                <a href="#" class="read_more_link btn btn-link">Read more</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team_member">
                <div class="team_member__image" style="background-image: url(images/team/boxler.jpg)"></div>
                <div class="team_member__header">
                  <h4 class="team_member__title">Thomas Fecker Boxler</h4>
                  <div class="team_member__subtitle">Founding Partner and Chief Operating Officer</div>
                </div>
                <div class="team_member_text _text_truncate">
                  Thomas is&nbsp;a&nbsp;Founding Partner and COO/CFO of&nbsp;flovtec. Prior to&nbsp;flovtec, in&nbsp;the role as&nbsp;COO/CFO, he&nbsp;successfully built up&nbsp;StoneMilliner Asset Mangement AG&nbsp;to&nbsp;one of&nbsp;the leading Global Macro Hedge Funds (2011-2018) and worked as&nbsp;COO in&nbsp;Global Foreign Exchange Trading at&nbsp;Credit Suisse (2009&ndash;2011). From 2006&ndash;2009, Thomas was COO/CFO of&nbsp;Kraus Partner Investment Solutions&nbsp;AG, and prior to&nbsp;this he&nbsp;was Senior Business Analyst at&nbsp;Credit Suisse Asset Mangement (2004&ndash;2006). Thomas also worked for Partners Group and held various roles at&nbsp;UBS Investment Bank in&nbsp;the&nbsp;FX division (1995&ndash;2004). He&nbsp;received an&nbsp;Executive MBA from University of&nbsp;Bern and an&nbsp;MBA from the Simon School of&nbsp;Business at&nbsp;University of&nbsp;Rochester in&nbsp;the&nbsp;US (2008&ndash;2009). He&nbsp;is&nbsp;a&nbsp;CFA charterholder and also holds a&nbsp;degree in&nbsp;Business Administration from the Lucerne University of&nbsp;Applied Sciences and Arts (2002).
                </div>
                <a href="#" class="read_more_link btn btn-link">Read more</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team_member">
                <div class="team_member__image" style="background-image: url(images/team/krieger.jpg)"></div>
                <div class="team_member__header">
                  <h4 class="team_member__title">Manuel Krieger</h4>
                  <div class="team_member__subtitle">Chairman of&nbsp;the Board</div>
                </div>
                <div class="team_member_text _text_truncate">
                  Manuel Krieger is&nbsp;Co-Founder and CEO of&nbsp;Sygnum Switzerland. Prior to&nbsp;that, he&nbsp;established and was the CEO of&nbsp;a&nbsp;Family Office in&nbsp;Switzerland. Previously, he&nbsp;was the Head of&nbsp;Multi Asset Class Portfolio Management at&nbsp;Wegelin Asset Management&nbsp;/ 1741 Asset Management. He&nbsp;is&nbsp;also a&nbsp;Founding Partner of&nbsp;the Blockchain Hub Trust Square. Manuel Krieger holds a&nbsp;Master of&nbsp;Arts in&nbsp;Banking and Finance from the University of&nbsp;St. Gallen and a&nbsp;Master of&nbsp;Arts in&nbsp;Information Management (Computer Science and Economics) from the University of&nbsp;Fribourg.
                </div>
                <a href="#" class="read_more_link btn btn-link">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>