<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 col-lg-3">
        <div class="copy">&copy; 2019 flovtec</div>
        <!--
        <div class="social">
          <a href="" class="social__link">
            <i class="icon icon--twitter"></i>
          </a>
          <a href="" class="social__link">
            <i class="icon icon--linkedin"></i>
          </a>
        </div>
        -->
      </div>
      <div class="col-md-4 col-lg-3">
        <address>
          flov technologies AG<br>
          Gotthardstrasse 26<br>
          6300 Zug, Switzerland
        </address>
      </div>
      <div class="col-md-5 col-lg-6">
        <div class="row justify-content-between">
          <div class="col-lg-3">
            <a href="mailto:info@flovtec.com">info@flovtec.com</a>
          </div>
          <div class="col-lg-9">
            <div class="row justify-content-center justify-content-md-start justify-content-lg-end">
              <div class="col-xs-12 col-sm-auto">
                <a href="legal.html" target="_blank">Legal</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<button type="button" class="btn btn-primary btn-circle btn_scroll_top">&uarr;</button>