<head>
  <meta charSet="UTF-8"/>
  <title>flovtec</Title>

  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>

  <link rel="shortcut icon" href="https://www.flovtec.com/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="https://www.flovtec.com/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="https://www.flovtec.com/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="https://www.flovtec.com/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.flovtec.com/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="https://www.flovtec.com/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.flovtec.com/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.flovtec.com/favicon-16.png">
  <link rel="apple-touch-icon" href="https://www.flovtec.com/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.flovtec.com/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.flovtec.com/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.flovtec.com/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.flovtec.com/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.flovtec.com/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.flovtec.com/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.flovtec.com/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.flovtec.com/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="favicon-144.png">
  <meta name="msapplication-config" content="browserconfig.xml">

  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:image" content="./og_image.jpg"/>
  <meta property="og:title" content="flovtec"/>
  <meta name="description" content="Liquidity provision in a digital marketplace"/>
  <meta property="og:description" content="Liquidity provision in a digital marketplace"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2513187-50"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-2513187-50');
  </script>
</head>