<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <a href="/" class="logo">
          <img src="images/logo.svg" alt="flovtec" width="300px">
        </a>
      </div>
      <div class="col-auto">
        <ul class="header_nav list-unstyled">
          <li class="header_nav__item nav-item">
            <a href="#mission" class="nav-link">Mission</a>
          </li>
          <li class="header_nav__item nav-item">
            <a href="#ecosystem" class="nav-link">Ecosystem</a>
          </li>
          <li class="header_nav__item">
            <a href="#team" class="nav-link">Team</a>
          </li>
          <li class="header_nav__item nav-item">
            <a href="mailto:info@flovtec.com" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>