<div id="mc_embed_signup">
  <form action="https://flovtec.us20.list-manage.com/subscribe/post?u=f0615120f5e3115469d85f361&amp;id=b547182330" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form_register" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <div class="form-group mc-field-group">
        <input
          type="text" value="" name="FNAME"
          class="form-control required"
          placeholder="Name"
          id="mce-FNAME"
        />
      </div>
      <div class="form-group mc-field-group">
        <input
          value=""
          name="EMAIL"
          type="email"
          class="form-control required email"
          placeholder="Email"
          id="mce-EMAIL"
        />
      </div>
      <div class="form-group">
          <textarea
            type="text"
            name="FMESSAGE"
            value=""
            class="form-control"
            placeholder="Message (optional)"
            id="mce-FMESSAGE"
          ></textarea>
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0615120f5e3115469d85f361_b547182330" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block btn-primary"></div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[2]='FMESSAGE';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>