<script src="./js/jquery-3.1.1.min.js"></script>

<script src="./js/ScrollMagic.min.js"></script>
<script src="./js/truncate.min.js"></script>
<script src="./main.js"></script>


<script src="./js/three.js"></script>

<script src="./js/Projector.js"></script>
<script src="./js/CanvasRenderer.js"></script>
<script src="./js/TweenMax.min.js"></script>
<script src="./js/TimelineMax.min.js"></script>

<script type="text/javascript" src="./js/bganim.js"></script>
