<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
  <main>
    <section class="section section_message">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <h1 class="section_message__accent">
              404
            </h1>
            <div class="section_message__text">
              The page you were looking for doesn’t exist.
            </div>

            <a href="/" class="btn btn-primary">Back to homepage</a>

            <p class="section_message__hint">
              If you have troubles, please <a href="mailto:info@flovtec.com" title="Contact us!">contact us</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>

