<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
<div class="teaser blue" style="display: block">
  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6550013899196903425" target="_blank">CryptoValley<br>
    Blockchain<br>
    Award<br>
    2019<br>
    <span>»</span>
  </a>
</div>
<div class="teaser purple" style="display: none;">
  <a href="https://medium.com/cv-vc/new-cv-vc-top-50-report-shows-summer-in-crypto-valley-is-back-1d5d758e500b" target="_blank">
    Top 50 Blockchain<br>
    Company by <br>
    CV VC &amp; <br>
    strategy &amp; <br>
    PwC<br>
    <span>»</span>
  </a>
</div>

<%= require('html-loader?attrs=false!./partials/header.html') %>

<main>
  <section class="section section_lead" id="lead">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-7">
          <h1 class="text-center"><span class="text-primary">Liquidity provision</span><br> in a <span class="text-primary">digital</span> marketplace</h1>
          <p class="lead">flovtec is a quantitative investment firm with the purpose to unlock digital assets by providing liquidity.</p>

          <!-- TODO use correct parameters for sharing -->
          <!--
          <div class="lead_links">
            <div class="row justify-content-center">
              <div class="col-auto">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://flovtec.com&title=Liquidity%20provision%20in%20a%20digital%20marketplace"
                   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                   target="_blank"
                   title="Share on Linkedin"
                >
                  <i class="icon icon--linkedin"></i>
                  <span>Share on Linkedin</span>
                </a>
              </div>
              <div class="col-auto">
                <a
                  href="https://twitter.com/share?url=http://flovtec.com/&text=Liquidity%20provision%20in%20a%20digital%20marketplace&hashtags=liquidity,flovtec"
                  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                  target="_blank" title="Share on Twitter"
                >
                  <i class="icon icon--twitter"></i>
                  <span>Share on Twitter</span>
                </a>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </section>
  <%= require('html-loader?attrs=false!./partials/sections/list.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/features.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/team.html') %>
  <section class="section section_contact" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="section_header">
            <h3>Stay informed</h3>
            <p>Get notified about company news and updates.</p>
          </div>
          <%= require('html-loader?attrs=false!./partials/register.html') %>
        </div>
      </div>
    </div>
  </section>
</main>

<%= require('html-loader?attrs=false!./partials/footer.html') %>
<%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

