<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body>
  <main>
    <section class="section section_legal">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8">
            <h1 class="section_message__accent">
              Legal
            </h1>
            <h3 class="h4">flov technologies AG</h3>
            <p>
              Gotthardstrasse 26<br>
              6300 Zug, Switzerland<br>
              E-Mail: <a href="mailto:info@flovtec.com">info@flovtec.com</a><br>
              <a href="https://www.flovtec.com">www.flovtec.com</a>
            </p>
            <h2 class="h3">Exclusion of liability:</h2>
            <h3 class="h4">Liability</h3>
            <p>flov technologies AG and/or other members of the flov technologies group of entities and the officers, directors, employees, shareholders or agents thereof exclude all liability and responsibility for any amount or kind of loss or damage that may result to you or a third party (including without limitation any direct, indirect, punitive or consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption, and whether in tort (including without limitation negligence), contract or otherwise) in connection with this website, emails or any other communication in any way or in connection with the use, inability to use or the results of use of this website or emails, any emails or websites linked to this website or the material on such websites, including but not limited to loss or damage due to viruses that may infect your computer equipment, software, data or other property on account of your access to, use of, or browsing this website or using emails or your downloading of any material from this website or emails or any websites linked to this website or emails. Nothing in this notice shall exclude or limit the liability of flov technologies AG or any other member of the flov technologies group of entities for death or personal injury caused by negligence or fraud, or any other liability which cannot be excluded or limited under applicable law. This Legal Notice is governed and construed in accordance with Swiss law.</p>

            <h3 class="h4">Copyright</h3>
            <p>The content and works created on these pages by the site operator are subject to Swiss copyright law. Their replication, processing, dissemination and any kind of exploitation beyond the limits of copyright require the written consent of the author or creator concerned. Downloads and copies of this site are only permitted for private, non-commercial use. Where content on these pages was not created by the operator, the copyright of third parties is observed. In particular, third-party content is marked as such. Should you nevertheless become aware of a copyright infringement, we request that you inform us accordingly. Once we become aware of legal breaches, we will immediately remove such content.</p>

            <h3 class="h4">Data protection</h3>
            <p>In general, it is possible to use our website without providing any personal data. Where personal data (e.g. name, address or email address) is collected on our site, this is as far as possible always done on a voluntary basis. Such data will not be passed to third parties without your express consent.</p>
            <p>We draw your attention to the fact that data transfer online (e.g. in email communication) can have security loopholes. It is not possible to provide flawless protection of data from third-party access.</p>
            <p>The use by third parties of contact data, published in the context of the website publisher obligation (Impressumspflicht), for the sending of advertising and information materials not expressly requested is hereby explicitly forbidden. The site operators explicitly reserve the right to take legal steps in cases of unsolicited sending of advertising information, e.g. through spam emails.</p>

            <h3 class="h4">Google Analytics</h3>
            <p>This website uses Google Analytics, a web analysis service of Google Inc. (‘Google’). Google Analytics uses so-called ‘cookies’, text files stored on your computer and enabling analysis of your use of the website. The information created by the cookie about your use of this website (including your IP address) will be transferred to a Google server in the USA and stored there. Google will use this information to evaluate your use of the website in order to compile reports on website activities for the website operator and to provide other services connected with website and Internet usage. Google may also pass this information to third parties if required to do so legally or if third parties process this data on behalf of Google. You can prevent the installation of cookies by adjusting the necessary settings in your browser software. However, we draw your attention to the fact that if you do this, you may not be able to use all functions of this website to their full extent. By your use of this website, you agree to Google’s processing of the data obtained about you in the manner described above, and for the aforementioned purpose.</p>

            <div class="text-center">
              <a href="/" class="btn btn-primary">Back to homepage</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
</html>

